<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="80%" fxFlex.sm="100%">
        <form>
            <table>
                <tr class="headerRow">
                    <th>Name</th>
                    <th>Project Number</th>
                    <th>Date From</th>
                    <th>Date Till</th>
                    <th>Number of Working Days</th>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select</mat-label>
                            <mat-select (selectionChange)="nameChanged()" [(value)]="selectedName">
                                <mat-option *ngFor="let name of names" [value]="name">
                                    {{name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let projectId of projectIdOptions" [value]="projectId">{{projectId}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker2">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Enter days</mat-label>
                            <input matInput placeholder="Ex. 28" value="30" type="number">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="submitButton">
                <button mat-stroked-button color="primary" (click)="submitTimesheet()" type="submit">Submit
                    Timesheet</button>
            </div>
        </form>
    </div>
</div>