<h2 class="headertekst">Work Order Management</h2>    
  <h3 class="loc">Overview</h3> 

<!DOCTYPE html>
<html>
<head>

</head>
<body>
<table>
  <tr>
    <th>Employee Name</th>
    <th>Project Number</th>
    <th>Email id</th>
    <th>Date From</th>
    <th>Date Till</th>
    <th>No of Working Days</th>
  </tr>
  <tr *ngFor="let workOrder of workOrders">
    <td>{{workOrder.employeeName}}</td>
    <td>{{workOrder.projectNumber}}</td>
    <td>{{workOrder.emailId}}</td>
    <td>{{workOrder.dateFrom}}</td>
    <td>{{workOrder.dateTo}}</td>
    <td>{{workOrder.workingDays}}</td>
  </tr> 
</table>
<!-- 
<h2>Two-way Binding Example</h2>    
   <input [(ngModel)]="fullName" /> <br/><br/>    
<p> {{fullName}} </p>  
<br/> -->    
<!--  <h2>{{ title }}</h2> String Interpolation -->    
<!--  <img [src]="imgUrl" /> Property Binding -->   
 <!--  <h2>Event binding example..</h2>
<button (click) ="onSave($event)">Save</button>  -->    
</body>
</html>

