<app-header></app-header>

<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="80%" fxFlex.sm="100%">
        <app-overview [updateOverview]="updateOverview"></app-overview>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
		fxLayoutAlign="center">
        <div fxFlex="80%" fxFlex.sm="100%">
            <button mat-stroked-button color="primary" (click)="toggleTimesheet()">Add Timesheet</button>
        </div>
    </div>
    
    <div fxFlex="80%" fxFlex.sm="100%">
        <app-timesheet *ngIf="showTimesheet" [submitCounter]="submitCounter" (timesheetSubmitted)="refreshOverviewTable()"></app-timesheet>
    </div>
    
</div>


