/* You can add global styles to this file, and also import other style files */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.loc {
    padding-left: 10px;
}

body {
  margin: 0px;
  padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table tr.headerRow {
    background-color: #b690d385;
}
